<h1>Workout</h1>

<ul class="workout-card">
    <li class="exercise">Exercise:</li>
    <li class="description">Description:</li>
    <li class="sets">Sets:</li>
    <li class="reps">Reps:</li>
</ul>

<script src="/workout-tracker/public/js/workout.js"></script>













<!--<select id="exerciseDropdown"></select>-->

<!--
{{#each results as | workout | }}
{{ name }}
{{/each}}
-->
<script src="/js/workout.js"></script>
<!--<script src="/workout-tracker/utils/workout-api.js"></script>-->