<h1>Workout</h1>

<ul class="workout-card">
  <li class="exercise">Exercise:</li>
  <li class="description">Description:</li>
  <li class="sets">Sets:</li>
  <li class="reps">Reps:</li>
</ul>
<div id="workout-card" data-userid="{{id}}">
  <select id="dropdown"></select>
  <select id="ddSets" name="sets"></select>
  <select id="ddReps" name="reps"> </select>

  <button id="saveButton">Save Selection</button>
  <div id="descriptionContainer"></div>
  <div id="savedDataContainer"></div>
</div>

<h1>Workout Data</h1>

<ul>
  {{#each workout}}
  <li>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
  </li>
  {{/each}}
</ul>



<script src="/js/workout.js"></script>














<!--<select id="exerciseDropdown"></select>-->

<!--
{{#each results as | workout | }}
{{ name }}
{{/each}}
-->
<script src="/js/workout.js"></script>
<!--<script src="/workout-tracker/utils/workout-api.js"></script>-->